.root {
    -fx-accent: #282828;
    -fx-focus-color: -fx-accent;
    -fx-base: #070707;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: lightgray;
}

.menu-bar {
    -fx-accent: #070707;
    -fx-background-color: #282828;
}


.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
}

.button:hover{
    -fx-text-fill: white;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.button:default {
    -fx-base: -fx-accent ;
}

.DeleteButton {
    -fx-base: -fx-accent;
    -fx-background-color: #960000;
}

.DeleteButton:hover {
    -fx-background-color: #b41e1e;
}

.text-field {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #282828, transparent, #282828;
}

.text-field .content {
    -fx-background-color: transparent, #282828, transparent, #282828;
}

.CommandWidget {
    -fx-background-color: transparent, black, transparent, black;
}


.text-field:focused .content {
    -fx-background-color: transparent, #282828, transparent, #282828;
}

.text-field:focused {
    -fx-highlight-fill: #1a6b9b;
}

.text-field .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #1a6b9b;
}